h1 {
    color: #ff0000;
    border: 1px solid #000000;
}

.paragrafo {
    font-size: 38px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.imagenzinha {
    width: 500px;
    border-radius: 8px;
}